<%- include('./partials/navbar') %>

<!--welcome-hero start -->
<header id="home" class="welcome-hero">
  <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- carousel-indicator -->
    <ol class="carousel-indicators">
      <li data-target="#header-carousel" data-slide-to="0" class="active"><span class="small-circle"></span></li>
      <li data-target="#header-carousel" data-slide-to="1"><span class="small-circle"></span></li>
      <li data-target="#header-carousel" data-slide-to="2"><span class="small-circle"></span></li>
    </ol>
    <!-- carousel-indicator -->

    <!-- carousel-inner -->
    <div class="carousel-inner" role="listbox" style="background-color: black;">
      <!-- .item -->
      <div class="item active" style="background-image: url('images/banner/homebg1.webp'); background-size: cover; background-repeat: no-repeat;">
        <div class="single-slide-item slide1">
          <div class="container">
            <div class="welcome-hero-content">
              <div class="row">
                <div class="col-sm-7">
                  <div class="single-welcome-hero">
                    <div class="welcome-hero-txt">
                      <h4 class="cfont2 whitetxt">great design collection</h4>
                      <h2 class="cfont whitetxt">Top Selling Rings Collection</h2>
                      <h3 class="cfont whitetxt" style="word-spacing: 10px;"> Starts With <span style="font-family: 'Times New Roman', Times, serif !important;">₹</span>80/- Only </h3>
                      <p class="whitetxt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuiana smod tempor ut laboreet dolore magna aliqua. Ut enim ad minim veniam.
                      </p>
                      <button class="whitebtn" onclick="window.location.href='/shop/rings'">
                        View
                      </button>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-5">
                  <div class="single-welcome-hero">
                    <div class="welcome-hero-img">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="item" style="background-image: url('images/banner/homebg2.jpg'); background-size: cover; background-repeat: no-repeat;">
        <div class="single-slide-item slide2">
          <div class="container">
            <div class="welcome-hero-content">
              <div class="row">
                <div class="col-sm-7">
                  <div class="single-welcome-hero">
                    <div class="welcome-hero-txt">
                      <h4 class="cfont2 whitetxt">great design collection</h4>
                      <h2 class="cfont whitetxt">Most Selling Earrings Collection</h2>
                      <h3 class="cfont whitetxt" style="word-spacing: 10px;"> Starts With <span style="font-family: 'Times New Roman', Times, serif !important;">₹</span>55/- Only </h3>
                      <p class="whitetxt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuiana smod tempor ut laboreet dolore magna aliqua. Ut enim ad minim veniam.
                      </p>
                      <button class="whitebtn" onclick="window.location.href='/shop/earrings'">
                        View
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="single-welcome-hero">
                    <div class="welcome-hero-img">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item" style="background-image: url('images/banner/homebg3.jpg'); background-size: cover; background-repeat: no-repeat;">
        <div class="single-slide-item slide3">
          <div class="container">
            <div class="welcome-hero-content">
              <div class="row">
                <div class="col-sm-7">
                  <div class="single-welcome-hero">
                    <div class="welcome-hero-txt">
                      <h4 class="cfont2 whitetxt">great design collection</h4>
                      <h2 class="cfont whitetxt">Best Selling Nose Pins Collection</h2>
                      <h3 class="cfont whitetxt" style="word-spacing: 10px;"> Starts With <span style="font-family: 'Times New Roman', Times, serif !important;">₹</span>40/- Only </h3>
                      <p class="whitetxt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuiana smod tempor ut laboreet dolore magna aliqua. Ut enim ad minim veniam.
                      </p>
                      <button class="whitebtn" onclick="window.location.href='/shop/nosepins'">
                        View
                      </button>
                    </div>
                  </div>    
                </div>
                <div class="col-sm-5">
                  <div class="single-welcome-hero">
                    <div class="welcome-hero-img">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End - Carousel-->


</header>

<!-- Start Small Banner -->
<section id="populer-products" class="populer-products">
  <div class="container">
    <div class="populer-products-content">
      <div class="row align-items-center">
        <div class="col-md-3">
          <div class="single-populer-products">
            <div class="single-populer-product-img">
              <img src="images/banner/homeCard1.jpg" alt="populer-products images">
            </div>
            <h2><a href="/shop/earrings">Earrings Collection</a></h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-populer-products">
            <div class="single-inner-populer-products">
              <div class="row align-items-center">
                <div class="col-md-4 col-sm-12">
                  <div class="single-inner-populer-product-img">
                    <img src="images/banner/homeCard2.png" alt="populer-products images">
                  </div>
                </div>
                <div class="col-md-8 col-sm-12">
                  <div class="single-inner-populer-product-txt">
                    <h2 class="cfont">
                      latest Designed Ring
                    </h2>
                    <p>
                      Edi ut perspiciatis unde omnis iste natusina error sit voluptatem accusantium.
                    </p>
                    <div class="populer-products-price mb-3">
                      <h4>Sales Start from <span>₹ 80/-</span></h4>
                    </div>
                    <a href="/shop/rings" class=""> Discover Rings </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="single-populer-products">
            <div class="single-populer-products">
              <div class="single-populer-product-img">
                <img src="images/banner/homeCard3.jpg" alt="populer-products images">
              </div>
              <h2><a href="/shop/necklaces">Necklaces Collection</a></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.container-->

</section>
<!-- End Small Banner -->


<!-- Start Featured Product -->
<section id="new-arrivals" class="new-arrivals">
  <div class="container">
    <div class="section-header">
      <h2 class="cfont">Featured Products</h2>
    </div>


    <!--/.section-header-->
    <div class="new-arrivals-content">
      <div class="row">




        <% homeProduct.forEach((value,index)=>{ %>

        <div class="col-md-3 col-sm-4">
          <div class="single-new-arrival">
            <div class="single-new-arrival-bg">

              <img src="images/productImg/<%=value.productImg[0]%>" alt="new-arrivals images">
              <div class="single-new-arrival-bg-overlay"></div>
              <div class="sale bg-1" style="background-color: white !important;">

                <% if( typeof wishlist !='undefined' ){ %>
                <% let checkWishlist=wishlist.includes((value._id).toString()) %>

                <% if(checkWishlist){ %>

                <span onclick="addtoWishlist(this)" data-id="<%=value._id%>" style="cursor: pointer;">
                  <i class="fa-solid fa-heart" style="color: red;"></i>
                </span>

                <% } else { %>

                <span onclick="addtoWishlist(this)" data-id="<%=value._id%>" style="cursor: pointer;">
                  <i class="fa-solid fa-heart"></i>
                </span>

                <% } %>
                <% } else { %>
                <span onclick="addtoWishlist(this)" data-id="<%=value._id%>" style="cursor: pointer;">
                  <i class="fa-solid fa-heart"></i>
                </span>

                <% } %>


                <!-- <span class="lnr lnr-heart" onclick="addtoWishlist(this)" data-id="<%=value._id%>"
                      style="cursor: pointer;"></span> -->
              </div>
              <div class="new-arrival-cart text-center">
                <p class="m-0">
                  <a class="cartBtn" onclick="addtoCart(this)" data-id="<%=value._id%>" style="cursor: pointer;">add <span>to
                    </span> cart</a>

                </p>
              </div>
            </div>
            <h4><a href="/shop/<%=value.category%>/<%=value._id%>">
                <%=value.name%>
              </a></h4>
            <div class="d-flex align-items-center" style="justify-content: center;">
              <p class="arrival-product-price me-2">₹ <%= value.price %>
              </p>
              <small><strike>₹ <%= value.oldPrice %> </strike></small>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <!--/.container-->

</section>
<!-- End Featured Product -->


<!-- middle banner -->
<section id="sofa-collection">
  <div class="owl-carousel owl-theme" id="collection-carousel">
    <div class="sofa-collection collectionbg1" style="background-image: url(images/banner/bottomBanner2.jpg);">
      <div class="container">
        <div class="sofa-collection-txt">
          <h2>unlimited sofa collection</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
          </p>
        </div>
      </div>
    </div>
    <!--/.sofa-collection-->
    <div class="sofa-collection collectionbg2" style="background-image: url(images/banner/bottomBanner1.jpg);">
      <div class="container">
        <div class="sofa-collection-txt">
          <h2>unlimited dainning table collection</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end middle banner -->




<!-- clients strat -->
<section id="clients" class="clients">
  <div class="container">
    <div class="owl-carousel owl-theme" id="client">
      <div class="item">
        <a href="#">
          <img src="images/client/c1.png" alt="brand-image" />
        </a>
      </div>
      <div class="item">
        <a href="#">
          <img src="images/client/c2.png" alt="brand-image" />
        </a>
      </div>
      <div class="item">
        <a href="#">
          <img src="images/client/c3.png" alt="brand-image" />
        </a>
      </div>
      <div class="item">
        <a href="#">
          <img src="images/client/c4.png" alt="brand-image" />
        </a>
      </div>
      <div class="item">
        <a href="#">
          <img src="images/client/c5.png" alt="brand-image" />
        </a>
      </div>
    </div>
  </div>
</section>
<!-- clients end -->

<%- include('./partials/footer') %>